[include]
    path = ~/.gitconfig-dynamic
    path = ~/.gitconfig-static
[core]
	excludesFile = ~/dotfiles/dotfiles/.gitignore_global
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
