Include /Users/jimweller/.colima/ssh_config

# DevPod Start vscode-remote-try-python.devpod
Host vscode-remote-try-python.devpod
  ForwardAgent yes
  LogLevel error
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  HostKeyAlgorithms rsa-sha2-256,rsa-sha2-512,ssh-rsa
  ProxyCommand "/Applications/DevPod.app/Contents/MacOS/devpod-cli" ssh --stdio --context default --user vscode vscode-remote-try-python
  User vscode
# DevPod End vscode-remote-try-python.devpod
# DevPod Start devpod-example-go.devpod
Host devpod-example-go.devpod
  ForwardAgent yes
  LogLevel error
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  HostKeyAlgorithms rsa-sha2-256,rsa-sha2-512,ssh-rsa
  ProxyCommand "/Applications/DevPod.app/Contents/MacOS/devpod-cli" ssh --stdio --context default --user vscode devpod-example-go
  User vscode
# DevPod End devpod-example-go.devpod
# DevPod Start devcontainer.devpod
Host devcontainer.devpod
  ForwardAgent yes
  LogLevel error
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  HostKeyAlgorithms rsa-sha2-256,rsa-sha2-512,ssh-rsa
  ProxyCommand "/Applications/DevPod.app/Contents/MacOS/devpod-cli" ssh --stdio --context default --user vscode devcontainer
  User vscode
# DevPod End devcontainer.devpod
# macOS-specific settings for automatic key management
Host *
  AddKeysToAgent yes
  UseKeychain yes
  IdentitiesOnly no

Host jimweller.com
  HostName jimweller.com
  User jimwelle
  IdentityFile ~/.ssh/id_jim
  IdentitiesOnly yes

Host vs-ssh.visualstudio.com
  HostName vs-ssh.visualstudio.com
  User mcgsead
  IdentityFile ~/.ssh/id_mcg
  IdentitiesOnly yes

Host github.com
  HostName github.com
  User git
  IdentityFile ~/.ssh/id_jim
  IdentitiesOnly yes