[submodule "dotbot"]
  path = dotbot
  url = https://github.com/anishathalye/dotbot
  ignore = dirty
  shallow = true
[submodule "devcontainer"]
  path = devcontainer
  url = https://github.com/jimweller/devcontainer
  ignore = dirty
  branch = main
  shallow = true
[submodule "antidote"]
  path = antidote
  url = https://github.com/getantidote/antidote
  ignore = dirty
  branch = main
  shallow = true
[submodule "asdf"]
  path = asdf
  url = https://github.com/asdf-vm/asdf
  ignore = dirty
  shallow = true
