[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "devcontainer"]
	path = devcontainer
	url = https://github.com/jimweller/devcontainer
[submodule "antidote"]
	path = antidote
	url = https://github.com/getantidote/antidote
